# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\tanca\Desktop\4TH SEMESTRE\ESTRUCTURA DE DATOS II\Lista Enlazada\LSE_Vehiculo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
